<: # -*-sh-*-
use Helpers::shellHelpers; # $m80path = [{command => "embedperl"}, {command => "m4", chmod => "+x" }];
print Helpers::shellHelpers::shellScript ( r => [required],
                                           getopts => '(a,-a),(b,-b)'); 
:>

cleanup 0

    
